<nav class="navbar form-inline" >
  <div class="" style="text-align : left;">
  <div>
    <button ui-sref="signup" class="btn btn-primary">Signup</button>
  </div>
  </div>
  <div class="" style="text-align : right;">
    <div class="form-inline">
      <div class="form-group">
        <!-- <label for="exampleInputName2">Name</label> -->
        <input ng-model="usr" type="text" class="form-control" placeholder="username">
      </div>
      <div class="form-group">
        <!-- <label for="exampleInputEmail2">Email</label> -->
        <input ng-model="password" type="password" class="form-control" placeholder="password">
      </div>
        <button ng-click="loginPost()" class="btn btn-primary">login</button>
      </div>
  </div>

</nav>


<div class="center">
  <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 col-xl-offset-3 col-xl-6">
    <ul class="tweet" ng-repeat="tweet in tweets">
        <li>
          <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <!-- <img src="/img/jess.jpg" alt=""> -->
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span>{{tweet.text}}</span>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
            {{tweet.username}} - {{tweet.timestamp | date : 'MMM, d' }}
          </div>
      </li>
    </ul>
  </div>
</div>
